<div id="sidebar">
  <a href="/brig"><h1><p>Stadtgemeinde Brig-Glis</p></h1></a>
  <h2><p>Produktegruppen-Budget 2015</p></h2> 
  <ul style="padding-top:50px; list-style-type:none;">
    <li><a href="http://www.iwi.unibe.ch/content/digitale_nachhaltigkeit/index_ger.html">Forschungsstelle Digitale Nachhaltigkeit</li>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQbVWM-FqOeGskgYjcR72Xj8XqP9_2mMK5uhkcsorSCn-5KpyRgKUvkrIS4" style="padding:20px; width:100px;"></a>
  <li><a href="http://www.zeilenwerk.ch/">Zeilenwerk Webagentur</li>
  <img src="http://www.zeilenwerk.ch/images/logo_01.png" style="padding:20px; width:100px;"></a>
  </ul>
</div>
